@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: calibri;
}
.bomberman {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/hero.png');
}
.gunda1 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-image: url('../images/enemy.png');
}
.gunda2 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-image: url('../images/fly_fly.png');
	background-repeat: no-repeat;
}
.block {
	position: absolute;
	height: 50px;
	width: 50px;
}
.block1 {
	background: url('../images/green.png');
}
.block2 {
	background: url('../images/box.png');
}
.block3 {
	background: url('../images/wall.png');
	position: absolute;
}
.block4 {
	background: url('../images/left-wall.png');
	position: absolute;
}
.bomb {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/bomb.png');
}
.explosion{
	position:absolute;
	height:50px;
	width:50px;
	background:url('../images/explosion.png');
}
.goBack{
	width:166px;
	height:40px;
	float:left;
	margin-right:10px;
	padding-left:4px;
}
.bombLimit{
	width:166px;
	height:40px;
	float:left;
	margin-left:10px;
	padding-left:4px;
}
#scoreBar {
	width: 550px;
	height: 50px;
	line-height: 50px;
	background: url('../images/score-board.png');
	float: left;
}
#main-screen {
	width: 550px;
	height: 550px;
	background: url('../images/bg.png') repeat;
	position: relative;
	float: left;
}
.newGame{
	width:260px;
	height:90px;
	top:312px;
	left:322px;
	position:absolute;
	background:url('../images/new-game-button.png');
}
.newGame:hover{
	background:url('../images/new-game-hover.png');
	cursor:pointer;
}
.gameOptions{
	width:372px;
	height:67px;
	top:411px;
	left:287px;
	position:absolute;
	background:url('../images/gameOptions.png');
}
.gameOptions:hover{
	left:200px;
	cursor:pointer;
}
.loading-bar{
	width:664px;
	height:137px;
	position:absolute;
	top:229px;
	left:-590px;
	background:url('../images/loading-bar.png');
}
#menu-screen{
	width:550px;
	height:600px;
	position:absolute;
	display:block;
	overflow:hidden;
	background:url('../images/menuscreen.png');
}
#loading-screen{
	width:550px;
	height:600px;
	overflow:hidden;
	display:none;
	position:relative;
	background:url('../images/loading-screen.png');
}
#game-screen{
	width:550px;
	height:600px;
	display:table;
	display:none;
}
#wrapper {
	width: 550px;
	margin: 0 auto;
	display: table;
}