@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-family: calibri;
	font-weight:bold;
	font-size:18px;
}
.bomberman {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/hero-sprite.png');
	z-index:1002;
}
.gunda1 {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/slime-sprite.png');
	z-index:1001;
}
.gunda2 {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/fly_fly_sprite.png');
	z-index:1001;
}
.gunda3 {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/mine.png');
	z-index:1001;
}
.coin{
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/coin.png');
	background-repeat: no-repeat;
}
.power-up{
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/power-up.png');
}
.block {
	position: absolute;
	height: 50px;
	width: 50px;
}
.block1 {
	background: url('../images/green.png');
}
.block2 {
	background: url('../images/box.png');
}
.block3 {
	background: url('../images/wall.png');
	position: absolute;
}
.block4 {
	background: url('../images/left-wall.png');
	position: absolute;
}
.bomb {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url('../images/bomb.png');
	z-index:1000;
}
.explosion{
	position:absolute;
	height:50px;
	width:50px;
	background:url('../images/explosion_sprite.png');
}
.go-back{
	width:166px;
	height:40px;
	float:left;
	margin-right:10px;
	text-align:center;
}
.go-back:hover{
	cursor: pointer;
	color:#f1c40f;
}
.score-bar img{
	width:50px;
	height:50px;
	margin-left:10px;
	float:left;

}
.bombLimit{
	width:83px;
	height:40px;
	float:left;
	margin-right:10px;
}
.score{
	width:166px;
	height:40px;
	float:left;
	margin-left:10px;
	text-align:center;
}
#end-screen{
	width:550px;
	height:600px;
	position:absolute;
	top:0;
	display:none;
	background:url('../images/bg_main.png');
}
.result{
	position:absolute;
	left:163px;
	top:124px;
	width:224px;
	height:67px;
}
.result1{
	position:absolute;
	left:163px;
	top:124px;
	width:177px;
	z-index:1005;
	display:none;
	height:53px;
}
.scoreBoard{
	left:92px;
	top:209px;
	width:365px;
	height:241px;
	position:absolute;
	text-align:center;
	line-height:241px;
	color:#2980b9;
	font-size:36px;
	background:url('../images/scoreBoard.png');
}
.endButtons{
	top:498px;
	left:92px;
	width:365px;
	height:53px;
	position:absolute;
	clear:both;
}
.leftButton{
	float:left;
	width:177px;
	height:53px;
	background:url('../images/main-menu.png');
}
.leftButton:hover {
	cursor:pointer;
	background:url('../images/main-menu-hover.png');
}
.rightButton{
	float:right;
	width:177px;
	height:53px;
	background:url('../images/play-again.png');
}
.rightButton:hover {
	cursor:pointer;
	background:url('../images/play-again-hover.png');
}
.score-bar {
	width: 550px;
	height: 50px;
	line-height: 50px;
	color:#2980b9;
	background: url('../images/score-board.png');
	float: left;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.main-screen {
	width: 550px;
	height: 550px;
	background: url('../images/bg.png') repeat;
	position: relative;
	float: left;
}
.newGame{
	width:260px;
	height:90px;
	top:312px;
	left:322px;
	position:absolute;
	background:url('../images/new-game-button.png');
}
.newGame:hover{
	background:url('../images/new-game-hover.png');
	cursor:pointer;
}
.gameOptions{
	width:372px;
	height:67px;
	top:411px;
	left:287px;
	position:absolute;
	background:url('../images/gameOptions.png');
}
.gameOptions:hover{
	left:200px;
	cursor:pointer;
}
.loading-bar{
	width:664px;
	height:137px;
	position:absolute;
	top:229px;
	left:-590px;
	background:url('../images/loading-bar.png');
}
.home-screen{
	width:550px;
	height:600px;
	position:absolute;
	display:block;
	overflow:hidden;
	background:url('../images/menuscreen.png');
}
.loading-screen{
	width:550px;
	height:600px;
	overflow:hidden;
	display:none;
	position:relative;
	background:url('../images/loading-screen.png');
}
.game-screen{
	width:550px;
	height:600px;
	clear:both;
	display:none;
	position:relative;
}
.wrapper {
	width: 550px;
	margin: 0 auto;
	display: table;
}
